<a href="https://colab.research.google.com/github/MikeDeecode/Portuguese-students-grades/blob/master/portuguese_students_grade_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**USING MULTIPLE LINEAR REGRESSION TO PREDICT THE FINAL GRADE OF STUDENTS**

In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

print("Setup complete")

Setup complete

In [41]:
grades = pd.read_csv("/content/portuguese school students grades.csv")
print("Success")

Success

##Feature selection

I will use the features that affected the final grade (G3) significantly based on my analysis 

Please check my analysis and readme for more information about the dataset

Note that I want to predict G3 which is the final grade

In [42]:
features = grades[['schoolsup', 'address', 'failures', 'higher', 'G1', 'G2', 'G3']]

In [44]:
features.head()

  schoolsup address  failures higher  G1  G2  G3
0       yes       U         0    yes   5   6   6
1        no       U         0    yes   5   5   6
2       yes       U         3    yes   7   8  10
3        no       U         0    yes  15  14  15
4        no       U         0    yes   6  10  10

We need to convert the categorical variables to numerical types

In [45]:
features['schoolsup'] = features['schoolsup'].map({'yes':1, 'no':0})
features['address'] = features['address'].map({'U':1, 'R':0})
features['higher'] = features['higher'].map({'yes':1, 'no':0})

In [46]:
features.head()

   schoolsup  address  failures  higher  G1  G2  G3
0          1        1         0       1   5   6   6
1          0        1         0       1   5   5   6
2          1        1         3       1   7   8  10
3          0        1         0       1  15  14  15
4          0        1         0       1   6  10  10

##Splitting data into training and testing sets

In [47]:
split = np.random.rand(len(grades)) < 0.8
train = features[split]
test = features[~split]

##Modeling

Lets split training set into independent and dependent variables then convert it to a numpy array

In [48]:
x = np.asanyarray(train[['schoolsup', 'address', 'failures', 'higher', 'G1', 'G2']])
y = np.asanyarray(train['G3'])

In [49]:
x[0:5]

array([[ 1,  1,  0,  1,  5,  6],
       [ 0,  1,  0,  1,  5,  5],
       [ 0,  1,  0,  1, 15, 14],
       [ 0,  1,  0,  1,  6, 10],
       [ 0,  1,  0,  1, 12, 12]])

In [50]:
y[0:5]

array([ 6,  6, 15, 10, 11])

Import the modeling library

In [51]:
from sklearn import linear_model

In [52]:
model = linear_model.LinearRegression()
model.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [60]:
print("The coefficients of the features:" , model.coef_)

The coefficients of the features: [ 0.42751898 -0.20117216 -0.22116381 -0.45676737  0.15739249  0.96805628]

In [62]:
print("Intercept: %.2f"%model.intercept_)

Intercept: -1.06

##Prediction

In [63]:
y_predict = model.predict(test[['schoolsup', 'address', 'failures', 'higher', 'G1', 'G2']])

##Model Evaluation

In [64]:
X = np.asanyarray(test[['schoolsup', 'address', 'failures', 'higher', 'G1', 'G2']])
Y = np.asanyarray(test['G3'])

**Mean Squared Error**

In [69]:
print("Mean Squared error: %.2f" %np.mean((y_predict - Y) ** 2))

Mean Squared error: 2.96

The error is quite small 

Lets proceed to see the Explained variance score

**Explained variance score**

In [70]:
print("Explained variance score: %.2f" %model.score(X, Y))

Explained variance score: 0.87

* The explained variance score of the model suggests that It is very dependable for out of sample prediction

#**THANK YOU FOR VIEWING MY PROJECT!!!**